/* Add here all your CSS customizations */

/*CSS - TIPO PUBLICIDADE*/
/* Fonte */
.font-Pattaya {
    font-family: 'Pattaya', sans-serif;
    font-size: 3.2rem!important;
    font-weight: bold;
    letter-spacing: 2px;
}
/*SEPARAÇÃO TELEFONES TOPO*/
.header-nav-top .nav-item::before {
    padding: 0 2px 0 4px;
    content: " | ";
    font-size: 12px;
}

.header-nav-top .nav-item:first-child::before {
    padding: 0px;
    content: none;
}
.icone-invertido {
    transform: scaleX(-1);    
}
/*BOTÃO LATERAL*/

#ssb-container {
    position: fixed;
    top: 40%;
    z-index: 1;
}

#ssb-container ul {
    padding: 0;
    margin: 0;
}

#ssb-container.ssb-anim-icons ul li {
    transition: transform 100ms;
}

#ssb-container ul li {
    line-height: 45px;
}

#ssb-container ul li {
    list-style: none;
    margin: 0;
}

#ssb-btn-0 {
    background: #29bf07;
}

#ssb-container ul li p {
    margin: 0;
}

#ssb-container ul li a {
    /*padding: 0 15px 0 0;*/
    display: block;
    line-height: 45px;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
}

#ssb-btn-0 a {
    color: #ffffff;
}

#ssb-container ul li {
    list-style: none;
}

#ssb-container.ssb-anim-icons ul li {
    transition: transform 100ms;
}

#ssb-container ul li {
    line-height: 45px;
}

#ssb-container ul li {
    list-style: none;
    margin: 0;
}

#ssb-btn-2 {
    background: #727477;
}

#ssb-btn-2 a {
    color: #fff;
}

#ssb-container ul li span {
    line-height: 45px;
    width: 50px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}

/*FIM BOTÃO LATERAL*/

.heading-pages-sub h2 {
    border-bottom: 0px;
    padding-bottom: 30px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #1d2127 !important;
}

.img-responsive {
    width: 100%;
}

#header .header-logo, #header .header-logo img {
    transition: all 0.3s ease-in-out;
}

/*------------------------------------------------------------
- Iframes
--------------------------------------------------------------*/
.iframeVideos {
    width: 100%;
    height: 178px;
    margin-bottom: 24px;
    border: 0px;
}
.iframeMapa {
    width: 100%;
    border: 0!important;
}
/*------------------------------------------------------------
- Tags
--------------------------------------------------------------*/
.btn.btn-slide {
    border-radius: 50px;
    display: inline-block;
    font-weight: 400;
    opacity: 1;
    overflow: hidden;
    padding: 15px;
    position: relative;
    transition: width 0.4s ease 0s, background 0.4s ease 0s;
    width: 30px;
}
.btn.btn-slide > i {
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.4s ease 0s;
    color: #FFF;
}
.btn.btn-slide > span {
    left: 30px;
    position: absolute;
    text-align: left;
    top: 5px;
    transition: left 0.5s ease 0s, opacity 0.5s ease 0s;
    white-space: nowrap;
    opacity: 0;
    color: #FFF;
}
.btn.btn-slide.fb-btn {
    background-color: #4867AA!important;
}
.btn.btn-slide.fb-btn:hover {
    width: 110px;
}
.btn.btn-slide.tw-btn {
    background-color: #1DA1F2!important;
}
.btn.btn-slide.tw-btn:hover {
    width: 90px;
}
.btn.btn-slide:hover > i {
    transform: translate(-50%,-50%) rotate(-360deg);
}
.btn.btn-slide.fb-btn:hover > i {
    left: 15%;
}
.btn.btn-slide.tw-btn:hover > i {
    left: 20%;
}
.btn.btn-slide:hover > span {
    opacity: 1;
}


/*------------------------------------------------------------
- Tags
--------------------------------------------------------------*/
.tags-palavras {
    font-size:10px !important;
    line-height: 10px;
    border: solid 1px #ccc;
    padding:5px;
}

ul.tags-palavras {
    margin: 0px;
    list-style: none;
}
ul.tags-palavras li{
    display: inline-flex;
    margin: 0px 5px;
    line-height: 20px;
}
/*------------------------------------------------------------
- MAPA DO SITE - Listagem
--------------------------------------------------------------*/
ul.lista-mapa-site {
    width: 60%;
    display: table;
    float: left;
    margin: 0;
    padding: 0;
}
ul.lista-mapa-site + .lista-mapa-site {
    width: 40%;
}
ul.lista-mapa-site li {
    font-size: 17px;
    list-style: none;
    padding: 5px;
}
ul.lista-mapa-site li a:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f105";
    margin-left: -12px;
}
/*------------------------------------------------------------
- MENU RODAPE
--------------------------------------------------------------*/
ul.lista-rodape {
    width: 50%;
    display: table;
    float: left;
    margin: 0;
    padding: 0;
}
ul.lista-rodape li {
    list-style: none;
}
ul.lista-rodape li ul {
    display: none;
}

/*------------------------------------------------------------
- MEDIA QUERY'S
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
    #ssb-container {
        top: initial;
        bottom: 0;
        left: 10px;
    }
    #ssb-container ul li {
        display: inline-block;
        border-radius: 4px 4px 0px 0px;
    }
    #ssb-container ul li + li {
        margin-left: 2px;
    }
    #ssb-container ul li span {
        font-size: 15px;
    }
    .iframeMapa {
        min-height: 300px;
    }
}
@media only screen and (max-width: 500px) {
    .header-nav-top .nav-item::before {
        content: " ";
        padding: 0 10px;
    }
    #header .header-nav-top .nav > li > a > span {
        display: none;
    }
}
@media only screen and (max-width: 360px) {
    #header .header-logo, #header .header-logo img {
        width: 100%;
        max-width: 190px;
    }
}

/* carousel parceiros/clientes items */
.owl-item {
    margin: 0 20px 0px 20px;
}